@import "tailwindcss/preflight" /* Improve text rendering */ html;

@tailwind utilities;

{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Make form controls behave nicely on dark backgrounds */
input,
textarea,
select,
button {
    color: inherit;
    font: inherit;
}

/* Remove Safari inner shadows on inputs */
input,
textarea {
    -webkit-appearance: none;
    appearance: none;
}
